*{
   margin: 0;
   padding: 0;
}

body{
    min-height: 100vh;
    background-image: url(assets/spidey.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.swiper{
    width: 90%;
    padding-top: 20px;
    padding-bottom: 50px;
}

.swiper > h1{
    color: #80ED99;
    font-size: 2em;
    text-align: center;
}

.swiper > p{
    color: #80ED99;
    font-size: 1.25em;
    text-align: center;
    margin: 15px;
}

.swiper-slide{
    background-position: center;
    background-size: cover;
    width: 90%;
    height: 500px;
}

.swiper-slide > img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 18px;
  color: white;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet:hover{
    font-size: 22px;
    background-color: #FF2626;
    color: white;
}

.swiper-pagination-bullet-active {
  color: #000;
  height: bold;
  background: #80ED99;
}

.swiper-button-next{
    color: #80ED99
}

.swiper-button-prev{
    color: #80ED99;
}

@media screen and (min-width:320px) and (max-width:700px) {

    .swiper-slide{
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 200px;
    }
}

@media screen and (min-width:700px) and (max-width:1000px) {

    .swiper-slide{
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 300px;
    }
}